﻿@model UBT.Eshop.Areas.Admin.ViewModels.Products.ProductViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Name</h2>

<p>
    ID:    @Model.Id
</p>

<p>
    Name:   @Model.Name
</p>

<p>
    Price:   @Model.Price
</p>



<a href="#" onClick="history.go(-1); return false;"> Return to list</a> 