﻿@model UBT.Eshop.Areas.Admin.ViewModels.Products.ProductsViewModel



@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-area="Admin" asp-controller="Products" asp-action="Index">Admin</a>
</p>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Date
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            ImageURL
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Products) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.DateCreated
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.ImageUrl
            </td>
            <td>               
                @Html.ActionLink("Details", "Details", new {  id=item.Id })                
            </td>
        </tr>
    }
    </tbody>
</table>
