﻿@model UBT.Eshop.Areas.Admin.ViewModels.Products.ProductViewModel


@{
    Layout = "_Layout";
}


@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>IndexViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="POST">

            <div class="form-group">
                <label asp-for="Id">Id</label>
                <input asp-for="Id" type="number" class="form-control" aria-describedby="emailHelp" placeholder="Enter id">
             
            </div>
            <div class="form-group">
                <label asp-for="DateCreated">Date</label>
                <input type="date" class="form-control" aria-describedby="emailHelp" placeholder="Enter date">
              
            </div>
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter name">
               
            </div>
            <div class="form-group">
                <label asp-for="Price">Price</label>
                <input asp-for="Price" type="number" class="form-control" aria-describedby="emailHelp" placeholder="Enter price">
             
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl">IMG URL</label>
                <input asp-for="ImageUrl" type="text" class="form-control" id="exampleInputPassword1" placeholder="enter img">
            </div>
         




            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            

            <div class="form-group">

                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Admin/Products/">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
